# ETL Pipeline Preparation
Follow the instructions below to help you create your ETL pipeline.
### 1. Import libraries and load datasets.
- Import Python libraries
- Load `messages.csv` into a dataframe and inspect the first few lines.
- Load `categories.csv` into a dataframe and inspect the first few lines.

In [1]:
# import libraries
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# load messages dataset
messages = pd.read_csv('disaster_messages.csv', index_col=0)
messages.head()

,message,original,genre
id,,,
2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [3]:
# load categories dataset
categories = pd.read_csv('disaster_categories.csv', index_col=0)
categories.head()

                                           categories
id
2   related-1;request-0;offer-0;aid_related-0;medi...
7   related-1;request-0;offer-0;aid_related-1;medi...
8   related-1;request-0;offer-0;aid_related-0;medi...
9   related-1;request-1;offer-0;aid_related-1;medi...
12  related-1;request-0;offer-0;aid_related-0;medi...

### 2. Merge datasets.
- Merge the messages and categories datasets using the common id
- Assign this combined dataset to `df`, which will be cleaned in the following steps

In [4]:
# merge datasets
df = messages.merge(categories, left_index=True, right_index=True)
df.head()

,message,original,genre,categories
id,,,,
2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,related-1;request-0;offer-0;aid_related-0;medi...
7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,related-1;request-0;offer-0;aid_related-1;medi...
8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,related-1;request-0;offer-0;aid_related-0;medi...
9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,related-1;request-1;offer-0;aid_related-1;medi...
12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,related-1;request-0;offer-0;aid_related-0;medi...

### 3. Split `categories` into separate category columns.
- Split the values in the `categories` column on the `;` character so that each value becomes a separate column. You'll find [this method](https://pandas.pydata.org/pandas-docs/version/0.23/generated/pandas.Series.str.split.html) very helpful! Make sure to set `expand=True`.
- Use the first row of categories dataframe to create column names for the categories data.
- Rename columns of `categories` with new column names.

In [5]:
# create a dataframe of the 36 individual category columns
categories = df['categories'].str.split(';', expand=True)
categories.head()

,0,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,32,33,34,35
id,,,,,,,,,,,,,,,,,,,,,
2,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
7,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-1,floods-0,storm-1,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
8,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
9,related-1,request-1,offer-0,aid_related-1,medical_help-0,medical_products-1,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
12,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

In [6]:
# use this row to extract a list of new column names for categories.
# one way is to apply a lambda function that takes everything 
# up to the second to last character of each string with slicing
category_colnames = categories.loc[2, :].str.split('-', expand=True)[0]
print(category_colnames)

0                    related
1                    request
2                      offer
3                aid_related
4               medical_help
5           medical_products
6          search_and_rescue
7                   security
8                   military
9                child_alone
10                     water
11                      food
12                   shelter
13                  clothing
14                     money
15            missing_people
16                  refugees
17                     death
18                 other_aid
19    infrastructure_related
20                 transport
21                 buildings
22               electricity
23                     tools
24                 hospitals
25                     shops
26               aid_centers
27      other_infrastructure
28           weather_related
29                    floods
30                     storm
31                      fire
32                earthquake
33                      cold
34             other_weather
35             direct_report
Name: 0, dtype: object

In [7]:
# rename the columns of `categories`
categories.columns = category_colnames
categories.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
id,,,,,,,,,,,,,,,,,,,,,
2,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
7,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-1,floods-0,storm-1,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
8,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
9,related-1,request-1,offer-0,aid_related-1,medical_help-0,medical_products-1,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
12,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

### 4. Convert category values to just numbers 0 or 1.
- Iterate through the category columns in df to keep only the last character of each string (the 1 or 0). For example, `related-0` becomes `0`, `related-1` becomes `1`. Convert the string to a numeric value.
- You can perform [normal string actions on Pandas Series](https://pandas.pydata.org/pandas-docs/stable/text.html#indexing-with-str), like indexing, by including `.str` after the Series. You may need to first convert the Series to be of type string, which you can do with `astype(str)`.

In [8]:
[categories[column].unique() for column in categories]

[array(['related-1', 'related-0', 'related-2'], dtype=object),
 array(['request-0', 'request-1'], dtype=object),
 array(['offer-0', 'offer-1'], dtype=object),
 array(['aid_related-0', 'aid_related-1'], dtype=object),
 array(['medical_help-0', 'medical_help-1'], dtype=object),
 array(['medical_products-0', 'medical_products-1'], dtype=object),
 array(['search_and_rescue-0', 'search_and_rescue-1'], dtype=object),
 array(['security-0', 'security-1'], dtype=object),
 array(['military-0', 'military-1'], dtype=object),
 array(['child_alone-0'], dtype=object),
 array(['water-0', 'water-1'], dtype=object),
 array(['food-0', 'food-1'], dtype=object),
 array(['shelter-0', 'shelter-1'], dtype=object),
 array(['clothing-0', 'clothing-1'], dtype=object),
 array(['money-0', 'money-1'], dtype=object),
 array(['missing_people-0', 'missing_people-1'], dtype=object),
 array(['refugees-0', 'refugees-1'], dtype=object),
 array(['death-0', 'death-1'], dtype=object),
 array(['other_aid-0', 'other_aid-1'], dtype=object),
 array(['infrastructure_related-0', 'infrastructure_related-1'],
       dtype=object),
 array(['transport-0', 'transport-1'], dtype=object),
 array(['buildings-0', 'buildings-1'], dtype=object),
 array(['electricity-0', 'electricity-1'], dtype=object),
 array(['tools-0', 'tools-1'], dtype=object),
 array(['hospitals-0', 'hospitals-1'], dtype=object),
 array(['shops-0', 'shops-1'], dtype=object),
 array(['aid_centers-0', 'aid_centers-1'], dtype=object),
 array(['other_infrastructure-0', 'other_infrastructure-1'], dtype=object),
 array(['weather_related-0', 'weather_related-1'], dtype=object),
 array(['floods-0', 'floods-1'], dtype=object),
 array(['storm-0', 'storm-1'], dtype=object),
 array(['fire-0', 'fire-1'], dtype=object),
 array(['earthquake-0', 'earthquake-1'], dtype=object),
 array(['cold-0', 'cold-1'], dtype=object),
 array(['other_weather-0', 'other_weather-1'], dtype=object),
 array(['direct_report-0', 'direct_report-1'], dtype=object)]

In [9]:
for column in categories:
    # set each value to be the last character of the string and convert to numeric
    categories[column] = categories[column].str.split('-', expand=True)[1].astype(int)
categories.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
id,,,,,,,,,,,,,,,,,,,,,
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
8,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,1,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
categories.replace({2: 1}, inplace=True)

### 5. Replace `categories` column in `df` with new category columns.
- Drop the categories column from the df dataframe since it is no longer needed.
- Concatenate df and categories data frames.

In [11]:
# drop the original categories column from `df`
df.drop(['categories', 'original'], axis=1, inplace=True)
df.head()

                                              message   genre
id
2   Weather update - a cold front from Cuba that c...  direct
7             Is the Hurricane over or is it not over  direct
8                     Looking for someone but no name  direct
9   UN reports Leogane 80-90 destroyed. Only Hospi...  direct
12  says: west side of Haiti, rest of the country ...  direct

In [12]:
# concatenate the original dataframe with the new `categories` dataframe
df = pd.concat([df, categories], axis=1)
df.head()

,message,genre,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
id,,,,,,,,,,,,,,,,,,,,,
2,Weather update - a cold front from Cuba that c...,direct,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,Is the Hurricane over or is it not over,direct,1,0,0,1,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
8,Looking for someone but no name,direct,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,1,1,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
12,"says: west side of Haiti, rest of the country ...",direct,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### 6. Remove duplicates.
- Check how many duplicates are in this dataset.
- Drop the duplicates.
- Confirm duplicates were removed.

In [13]:
# check duplicates
count_messages = df['message'].value_counts()
duplicate_rows = count_messages[count_messages >= 2].index
duplicate_rows

Index(['Shelter materials (thick polyesters) are being distributed to 18,000 households.',
       'What is the address of the radio station? I ask because I need to drop off a file for the committee we created. Thanks in advance!',
       'elle est vraiment malade et a besoin d'aide. utilisez mon numero de tlphone pour obtenir plus de renseignements. Nous attendons une reponse. Aucun numero fourni par contre.',
       'But while floodwaters have subsided in some areas, there has been fresh flooding in the north of the state and more heavy rainfall forecast elsewhere.',
       'here,i'm i don't find medicin just resting to die where i can find it? ',
       'Additionally, ointment to treat skin infections, cough medicine, iodine and bandages are needed for basic care.',
       'I would like some more informations about travelling to Senegal ',
       'Some herders now have their homes connected to the town grid or, in the most isolated areas, herders have been provided with solar panels and small wind turbine systems as sources of renewable energy.',
       'On behalf of ACT members in Bangladesh Christian Commission for Development in Bangladesh (CCDB) and Rangpur Dinajpur Rural Service (RDRS) - LWF/WS report that none of their projects has yet been affected but that the low-lying areas of the north-eastern districts have been inundated by an on-rush of floodwater from across the border following rains and overflowing rivers in the neighbouring Indian state of Assam.',
       'I am a victim. I need food, water and a radio. ',
       'What we saw yesterday is a sign, you need to know what Jesus is stirring up/doing ',
       'BEIJING, Aug 16 (AFP) - Some 200 people are dead or missing following three days of flash flooding that hit central China's Hunan province, officials said Monday.',
       'World Vision staff stationed in Jabouri immediately reached the mudslide area to offer assistance.',
       'Most victims (90 per cent) show little or no symptoms of infection and therefore go a long time untreated, even though the World Health Organisation lists fever, fatigue, headache, vomiting, stiffness in the neck, and pain in the limbs as initial symptoms.',
       'Sent email , matched to Seniors are living in the Seward Park Co-Op top floors with no power or water .',
       'How much money did TV Latino American collect in Miami',
       'As the harsh winter sets in, more people are in danger of dying in the freezing conditions.',
       'Mera ghar selab ki waja sy gir giya hy. aur dobara nahin bna sakta main shadeed mooshkil men hoon. mery 3 choty choty bachy aur baqi ghar waly shdeed sardi khaema mein guzarny par majboor hin. khdara ghar banany mein meri mdad kro. plz help me. khalil',
       'As we approach Luabo, I get my first impressions of the camp, dilapidated buildings, most without roofs, or windows and walls collapsing.',
       'Good evening staff of responsibles, please give me some help because until now I am homeless (in the street). ',
       'Starting in October 1999, severe food insecurity began to be reported in Gode zone, Somali Region, as a result of delayed and erratic Deyr rains (expected from September-December).',
       '?? port au prince ?? and food. they need goverment aid and international aid thak you. god bless haiti',
       'If I would like to find a job in cepoz, what should I do? ',
       'there are people in Delmas 32 who form an association who is taking food on the name of the people in that neighborhood. they are just keeping it. it is not being distributed. ',
       'Full Circle, my local, collecting supplies and making lunches for #SandyRelief @Full Circle Bar http://t.co/EHLqbhHw',
       '   MAOZA          U  REP '',
       'I am in Carefour Feuilles, Dkayet neighborhood. We need potable water because diarrhea is rampant here and is undermining our health. ',
       'An EU-backed French offensive against rebels restored an uneasy order, but foreign donors have insisted on the elections before aid is resumed to Mali.',
       'The last locust infestation in the Central Asian republic was in 1995 and is expected to reoccur every four to five years.',
       'In a field in Jallouzai, just inside Pakistan, 80,000 Afghans are jammed in without proper shelter, sanitation or water.',
       'The Management Committee is composed of six members, including a chairman, a treasurer, a secretary general, a manager and two commissioners elected democratically by the community.',
       'where we can paticipate in the law reorganizations? ',
       'At present, UNHCR has 2,500 additional tents at the Port of Colombo which have been granted duty free clearance by the Ministry of Foreign Affairs and are awaiting clearance for distribution.',
       'To date, a total of 39 people suffering from Ebola or having had a high risk exposure to the virus, have been medically evacuated to Europe.',
       '* German Agro Action (GAA) reported that in the 6 weeks up to 15 July it had completed the distribution of ECHO food to almost 14,000 beneficiaries in the Tavildara district, as well as financing a total of 49 Food for Work micro-projects through WFP - the majority concerned with irrigation, canal cleaning and feeder road construction in the Garm district.',
       'It was offshore about 130 km to the southeast of Wenchang City on the east coast of Hainan and packing wind of up to force 8.',
       'please we need water, food and tents, we have 101 chlidren. .. please come rescue',
       'The regime says the charter will clear the way for democratic elections in two years, but critics say the document will ensure the generals remain dominant in a country that has been ruled by the military for nearly half a century.',
       'I'd like to know an email to find a job ',
       'I have men and woman clothing plus 3-4t girl clothing , Toys , Non perishable food',
       'Me and my family every time it rains you do not know what to do, because we have nothing to shelter, please find us something that we live in a military cites the legal street pole. ',
       'I'd like to sign up in the 4636 program please ',
       'Falta tan tan poco.. ¬¨¬¥Simply Red - Holding back the years¬¨¬™. Arena Santiago, de all‚àö¬∞ somos! Night.  http://blip.fm/~n0frf',
       'HELP THE EARTHQUAKE VICTIMS IN HAITI http tinyurl.com yk3bspe links to many resources where you can make donations. Broke? donate time',
       'I can help deliver food to seniors who are trapped in their homes . I speak Mandarin and Cantonese .',
       'BEIJING, Sep 24, 2008 (Xinhua via COMTEX News Network) -- Typhoon Hagupit has downgraded to severe tropical storm at 2 p.m. Wednesday in coastal areas of South China's Guangxi Zhuang Autonomous Region, according to the National Meteorological Center.',
       'What can i do to protect my self if the earthquake comes back? ',
       '#NAME?',
       'Good morning!How are you doing my brothers when the cyclone start and when it will be finish. ',
       'Before we take your general questions, I'd like to make a few opening remarks concerning ISAF support to the Afghan people during these frigid winter months. After the earthquake, huge boulders blocked off the road to large vehicles. Most years, floods wreak havoc in the state, leaving a trail of destruction and killing hundreds of people. We have heard of crocodile sightings.',
       'In response to North Korea's devastating artillery attack on Yeonpyeong Island on Tuesday, South Korea has suspended aid shipments of food and cement to the North's flood-stricken Shinuiju region.',
       'I thought you gave my number and this was serious. Meanwhile today has been 15 days and we still haven't gotten anything',
       'Good evening. we are writing to ask you for a little help in the Sibert area. We are calling for something to eat. We haven't eaten anything yet. We ask you please do us a favor. ',
       'All #NYC bridges, tunnels &amp; mta closed; over 2.8 million without power #Sandy causing So much havoc!!! Praying 4 us all',
       'Wand to donate jackets , hot meals , non-perishable foods , towels , bed sheets',
       'Tell the President to give the nation over to God. ',
       'They reported sporadic rains were still flooding air fields, roads and slowing urgent repairs along several key highways.',
       'Sir or madam, I'm hungry, I cannot stand because I'm very hungry, if you could share the food, it would benefit the population, thanks',
       'Area Jam gulab pahore Area ghulam haidar pahore's almost 50 houses have been damaged due to the recent flood. Din't receive housing compensation. C.M. of punjab has given only one bedsheet per family and nothing else has been given. Due to cool weather children have been suffering from diseases.',
       'I would like to find some informations about these questions that i asked. ',
       'Any person who enters or exits at other points will be considered an infiltrator, he added.',
       'NOTES: this sms is not important because this person is playing.',
       'The flood situation has worsened with nearly 3,000 villages submerged forcing an estimated 150,000 people to take shelter in raised platforms and makeshift tarpaulin tents, Assam Revenue, Relief and Rehabilitation Minister Bhumidhar Barman said.',
       'jel2  Acte 5: 29 2chr7 Lev11 Ecl9 Ecl4 jos5 ch102kr Es59 ',
       'After the 2011 elections, widespread rioting left hundreds dead.',
       'in my village after collapse of whole infrastructure due to flood the majority of people is homeless  in need of tents which are not available.',
       '(Delmas 33 Charboniere infomatyon s'il vous plait.) ',
       'The slow pace of reconstruction along Japan's devastated north-eastern coastline is contributing to survivors' stress, as there is little clarity on how long they will have to remain in cramped temporary housing.'],
      dtype='object')

In [14]:
# check number of duplicates
duplicates = df['message'].duplicated()
duplicates.sum()

209

In [15]:
# drop duplicates
df = df[~duplicates]
df.head()

,message,genre,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
id,,,,,,,,,,,,,,,,,,,,,
2,Weather update - a cold front from Cuba that c...,direct,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,Is the Hurricane over or is it not over,direct,1,0,0,1,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
8,Looking for someone but no name,direct,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,1,1,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
12,"says: west side of Haiti, rest of the country ...",direct,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
df['message'].duplicated().sum()

0

### 7. Save the clean dataset into an sqlite database.
You can do this with pandas [`to_sql` method](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_sql.html) combined with the SQLAlchemy library. Remember to import SQLAlchemy's `create_engine` in the first cell of this notebook to use it below.

In [17]:
engine = create_engine('sqlite:///DisasterResponse.db')
df.to_sql('disaster_response', engine, index=False, if_exists='replace')

### 8. Use this notebook to complete `etl_pipeline.py`
Use the template file attached in the Resources folder to write a script that runs the steps above to create a database based on new datasets specified by the user. Alternatively, you can complete `etl_pipeline.py` in the classroom on the `Project Workspace IDE` coming later.